.position-title {
    font-weight: 700;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 5%;
}

.left-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.right-text {
    text-align: right;
    width: 100%;
}

.position-container {
    margin-top: 5%;
    margin-bottom: 5%;
}