.spotlight-container {
    display: flex;
    flex-direction: row;
}

.spotlight-container .display-container {
    flex-grow: 1;
}

.spotlight-container .info-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px 20px 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.5px;
}

.link-button {
    color: rgb(95, 99, 104);
    background-color: white;
    width: 20%;
    padding: 10px 2px 10px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
}